/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom tailwind */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

body {
  background: #e5e7eb;
}

@layer components {
  .center {
    @apply flex items-center justify-center;
  }
  .signup {
    @apply border py-1 cursor-pointer border-red-500 hover:bg-red-500 hover:text-white duration-100 ease-in-out w-6/12 text-red-500 center flex-row  gap-1;
  }
}
